body, #mainWrapper {
    font-size: 20px;
    background-color: rgb(245, 245, 245);
    margin-left: 5%;
    margin-right: 5%;
    font-family:arial 
}

.large-textbox {
    width: 400px;
    height: 100px;
}

.careful {
    background-color: rgb(245, 120, 120);
}

.submit {
    background-color: rgb(145, 180, 245);
    font-size: 20px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
    left: 5%;
}

.right {
    right: 5%;
}
