body, #mainWrapper {
    font-size: 20px;
    background-color: rgb(245, 245, 245);
    margin-left: 5%;
    margin-right: 5%;
    font-family:arial 
}

.large-textbox {
    width: 400px;
    height: 100px;
}

.careful {
    background-color: rgb(245, 120, 120);
}

.submit {
    background-color: rgb(145, 180, 245);
    font-size: 20px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid rgb(215, 215, 215);
  border-radius: 50%;
  border-top: 12px solid rgb(50, 130, 200);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
    left: 5%;
}

.right {
    right: 5%;
}
